---
import { buttonVariants } from '../components/ui/button'
const { page, sortBy, sortOrder, filterByColor, filterBySize } = Astro.props

const buildURL = (params) => {
  const urlParams = new URLSearchParams({
    page,
    sortBy: params.sortBy || sortBy,
    sortOrder: params.sortOrder || sortOrder,
    color: params.color || filterByColor || '',
    size: params.size || filterBySize || '',
  })
  return `?${urlParams.toString()}`
}
---

<div class="mb-8 flex flex-col gap-4">
  <div class="flex flex-wrap gap-4">
    {/* Кнопка сортировки по цене */}
    <a
      href={buildURL({
        sortBy: 'price',
        sortOrder: sortOrder === 'asc' ? 'desc' : 'asc',
      })}
      class={buttonVariants({
        variant: sortBy === 'price' ? 'default' : 'outline',
        class: 'inline-flex items-center gap-2',
      })}
    >
      <svg
        class="h-4 w-4"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M7 4v16M7 4l3 3M7 4 4 7m9-3h6l-6 6h6m-6.5 10 3.5-7 3.5 7M14 18h4"
        ></path>
      </svg>
      Price
      {sortBy === 'price' && <span>{sortOrder === 'asc' ? '↑' : '↓'}</span>}
    </a>

    {/* Кнопка сортировки по категории */}
    <a
      href={buildURL({
        sortBy: 'category',
        sortOrder: sortOrder === 'asc' ? 'desc' : 'asc',
      })}
      class={buttonVariants({
        variant: sortBy === 'category' ? 'default' : 'outline',
        class: 'inline-flex items-center gap-2',
      })}
    >
      <svg
        class="h-4 w-4"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M7 4v16M7 4l3 3M7 4 4 7m9-3h6l-6 6h6m-6.5 10 3.5-7 3.5 7M14 18h4"
        ></path>
      </svg>
      Category
      {sortBy === 'category' && <span>{sortOrder === 'asc' ? '↑' : '↓'}</span>}
    </a>
  </div>
</div>
